@model List<ResultWhoWeAreServiceDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
    int count = 0;
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">WhoWeAreService Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.ServiceName</td>
                            <td>@item.Status</td>
                            <td><a href="/WhoWeAreService/DeleteWhoWeAreService/@item.WhoWeAreServiceId" class="btn btn-outline-danger">Delete</a> </td>
                            <td><a href="/WhoWeAreService/UpdateWhoWeAreService/@item.WhoWeAreServiceId" class="btn btn-outline-success">Update</a> </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <a href="/WhoWeAreService/CreateWhoWeAreService/" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>
