@model CreateWhoWeAreDetailDtos
@{
    ViewData["Title"] = "CreateWhoWeAreDetail";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Add New WhoWeAreDetail</h6>
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" asp-for="Title">
                <br />
                <label for="exampleInputEmail1" class="form-label">Subtitle</label>
                <input type="text" class="form-control" asp-for="Subtitle">
                <br />
                <label for="exampleInputEmail1" class="form-label">Description 1</label>
                <input type="text" class="form-control" asp-for="Description1">
                <br />
                <label for="exampleInputEmail1" class="form-label">Description 2</label>
                <input type="text" class="form-control" asp-for="Description2">
                <br />
                <button type="submit" class="btn btn-primary">Save</button></div>
        </form>
    </div>
</div>

